<html lang="en" dir="ltr" class="spectrum spectrum--medium spectrum--light">
  <head>
    <title>Evony TKR Tips</title>

    <link rel="stylesheet" href="/styles/theme.css" />
    <link rel="stylesheet" href="/styles/Spectrum.css" />
    <script
      type="module"
      data-gwd-opt="static"
      src="/components/footer.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/header.ts"
    ></script>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
  </head>
  <body>
    <app-header></app-header>
    <page-outlet></page-outlet>
    <app-footer></app-footer>
  </body>
</html>
