<html lang="en" dir="ltr" class="spectrum spectrum--medium spectrum--light">
  <head>
    <title>Evony TKR Tips</title>
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/tokens/dist/index.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/typography/dist/index.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/page/dist/index.css"
    />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/icon/dist/index.css"
    />
    <link rel="stylesheet" href="/styles/theme.css" />
    <script
      type="module"
      data-gwd-opt="static"
      src="/components/footer.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/header.ts"
    ></script>
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
  </head>
  <body>
    <app-header></app-header>
    <page-outlet></page-outlet>
    <app-footer></app-footer>
  </body>
</html>
