<!doctype html>
<html
  lang="en"
  prefix="og:http://ogp.me/ns#"
  class="spectrum spectrum--medium spectrum--light"
>
  <head>
    <meta property="og:title" content="${globalThis.page.title}" />
    <meta property="og:site_name" content="Evony TKR Tips" />
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/split-view.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/side-nav.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/collection-cards.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/horizontal-card.ts"
    ></script>
    <link rel="stylesheet" href="/styles/generals.css" />
  </head>
  <body>
    <div class="DEBUG">Generals Layout</div>
    <split-view>
      <div slot="left" class="nav">
        <side-nav route="${globalThis.page.route}"></side-nav>
      </div>
      <main slot="right">
        <content-outlet></content-outlet>
        <hr />
        <collection-cardgrid collection="Generals"></collection-cardgrid>
      </main>
    </split-view>
  </body>
</html>
