<!doctype html>
<html
  lang="en"
  prefix="og:http://ogp.me/ns#"
  class="spectrum spectrum--medium spectrum--light"
>
  <head>
    <meta property="og:title" content="${globalThis.page.title}" />
    <meta property="og:site_name" content="Evony TKR Tips" />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/sidenav/dist/index.css"
    />
    <link rel="stylesheet" href="/styles/generals.css" />
  </head>
  <body>
    <nav>
      <script
        type="module"
        data-gwd-opt="default"
        src="/components/generalsSectionElements/side-nav.ts"
      ></script>
      <side-nav route="${globalThis.page.route}"></side-nav>
    </nav>
    <main>
      <content-outlet></content-outlet>
    </main>
  </body>
</html>
