<!doctype html>
<html
  lang="en"
  prefix="og:http://ogp.me/ns#"
  class="spectrum spectrum--medium spectrum--light"
>
  <head>
    <meta property="og:title" content="${globalThis.page.title}" />
    <meta property="og:site_name" content="Evony TKR Tips" />
  </head>
  <body>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/card-grid.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/splash-cardgrid.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/card.ts"
    ></script>
    <main>
      <content-outlet></content-outlet>
    </main>
  </body>
</html>
