<!doctype html>
<html
  lang="en"
  prefix="og:http://ogp.me/ns#"
  class="spectrum spectrum--medium spectrum--light"
>
  <body>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/card-grid.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/splash-cardgrid.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/horizontal-card.ts"
    ></script>
    <main>
      <content-outlet></content-outlet>
    </main>
  </body>
</html>
