<!doctype html>
<html
  lang="en"
  prefix="og:http://ogp.me/ns#"
  class="spectrum spectrum--medium spectrum--light"
>
  <head>
    <meta property="og:title" content="${globalThis.page.title}" />
    <meta property="og:site_name" content="Evony TKR Tips" />
    <link
      rel="stylesheet"
      href="/node_modules/@spectrum-css/card/dist/index.css"
    />
  </head>
  <body>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/splash-cardgrid.ts"
    ></script>
    <script
      type="module"
      data-gwd-opt="default"
      src="/components/card.ts"
    ></script>
    <content-outlet></content-outlet>
  </body>
</html>
